{{#each items}}
<div data-firstname="{{first_name}}" data-lastname="{{last_name}}" class="friends-card" draggable="true">
    <div class="friend-card__info">
        <img class="friends-card__avatar" src="{{photo_100}}" alt="friend" draggable="false">
        <span class="friends-card__name">{{first_name}} {{last_name}}</span>
     </div>
    <div class="friend-card__control friend-card__control--add"></div>
</div>
{{/each}}